@{
    ViewBag.Title = "Acerca";
}

@section Head{
    <link rel="Stylesheet" href="@Url.Content("~/Content/informatorio-form.css")" />
}

@section DPerfil{
    @Html.Partial("_DPerfil")
}

<div class="contentAbout">
	<div class="col-sm-8">
		<div class="col-sm-2 contact-icons">
            <div style= "float:left;"> @Resources.resources.AboutSection_LeftColumn</div> 
		</div>
		<div class="col-sm-9 margin-content">
			<ul class="nav nav-tabs tabs-info-menu">
				<li class="active">
					<a href="#que-es" data-toggle="tab">@Resources.resources.AbuotSection_AboutLabel</a>
				</li>
				<li>
					<a href="#objetivos" data-toggle="tab">@Resources.resources.AboutSection_WhatToFindLabel</a>
				</li>
				<li>
					<a href="#participar" data-toggle="tab">@Resources.resources.AboutSection_SponsorsLabel</a>
				</li> 
			</ul>
			<div class="tab-content tabs-info-content">
				<div id="que-es" class="tab-pane fade in active">
					<p>@Resources.resources.AboutSection_AboutContent</p>
					<p>@Resources.resources.AboutSection_AboutContent2</p>
				</div>
				<div id="objetivos" class="tab-pane fade">
					<p>
						@Resources.resources.AboutSection_WhatToFindContent
					</p>
                    <p>	@Resources.resources.AboutSection_WhatToFindContent2</p>
				</div>
				<div id="participar" class="tab-pane fade">
                    <p>@Resources.resources.AboutSection_SponsorsContent</p>
                    <div class="clear20"></div>
                    <p class="text-center">
                        <a href="http://www.facebook.com/informatorio" class="logo-informatorio"></a>
                    </p>
                    <div class="clear20"></div>
                    <p class="text-center">
                        <a href="http://www.facebook.com/poloitchaco" class="logo-polo"></a> 
                    </p>
                    <div class="clear20"></div>
                    <p>@Resources.resources.AboutSection_Sponsor_SSICh</p>
				</div> 					
			</div>
		</div>
	</div>
</div>
