@{
    ViewBag.Title = "Acerca";
}

@section Head{
    <link rel="Stylesheet" href="@Url.Content("~/Content/informatorio-form.css")" />
}

@section DPerfil{
    @Html.Partial("_DPerfil")
}

<div class="contentAbout">
	<div class="col-sm-10"><!--ESTO CAMBIE. ESTABA EN 8 Y LO DEJE EN 10 PARA QUE ENTRE TODO LO DEL MENU-->
		<div class="col-sm-2 contact-icons">
            <div style= "float:left;"> @Resources.AboutSection_LeftColumn</div> 
		</div>
		<div class="col-sm-9 margin-content">
			<ul class="nav nav-tabs tabs-info-menu">
				<li class="active">
					<a href="#que-es" data-toggle="tab">@Resources.AbuotSection_AboutLabel</a>
				</li>
				<li>
					<a href="#objetivos" data-toggle="tab">@Resources.AboutSection_WhatToFindLabel</a>
				</li>
				<li>
					<a href="#participar" data-toggle="tab">@Resources.AboutSection_SponsorsLabel</a>
				</li> 
				<!--ESTO AGREGUE-->
                <li>
                    <a href="#desarrolladores" data-toggle="tab">Desarrolladores</a>
                </li>
			</ul>
			<div class="tab-content tabs-info-content">
				<div id="que-es" class="tab-pane fade in active">
					<p>@Resources.AboutSection_AboutContent</p>
					<p>@Resources.AboutSection_AboutContent2</p>
				</div>
				<div id="objetivos" class="tab-pane fade">
					<p>
						@Resources.AboutSection_WhatToFindContent
					</p>
                    <p>	@Resources.AboutSection_WhatToFindContent2</p>
				</div>
				<div id="participar" class="tab-pane fade">
                    <p>@Resources.AboutSection_SponsorsContent</p>
                    <div class="clear20"></div>
                    <p class="text-center">
                        <a href="http://www.facebook.com/informatorio" class="logo-informatorio"></a>
                    </p>
                    <div class="clear20"></div>
                    <p class="text-center">
                        <a href="http://www.facebook.com/poloitchaco" class="logo-polo"></a> 
                    </p>
                    <div class="clear20"></div>
                    <p>@Resources.AboutSection_Sponsor_SSICh</p>
				</div> 	
				<!--ESTO AGREGUE-->
                <div id="desarrolladores" class="tab-pane fade">
                    <!--SUB-MENU-->
                    <div id="subMenuDes" class="subMenuDes">
                        <ul>
                            <li><a id="los22Men" class="activarSubMenu" href="#">Los 22</a></li>
                            <li><a id="losImplemMen" href="#">Los Implementadores</a></li>
                            <li><a id="maniaMen1" href="#">ManIaTICs - Etapa 3</a></li>
                            <li><a id="maniaMen2" href="#">ManIaTICs - Etapa 4</a></li>
                        </ul>
                    </div>
                    <!--CONTENIDO SUB-MENU-->
                    <div id="contentSubMen">
                        <div id="los22SubMen">
                            <h4>
                                Etapa Inicial - Equipo “Los 22”
                            </h4>
                            <p><strong>Integrantes:</strong></p>
                            <ol>
                                <li>Agustín Ramírez</li>
                                <li>Alberto Robledo</li>
                                <li>Alfredo Yaya</li>
                                <li>Ariel Figueredo</li>
                                <li>Cristopher Mesliuk</li>
                                <li>Diego Puente</li>
                                <li>Enrique Bakun</li>
                                <li>Facundo Rada</li>
                                <li>Fernando Luján</li>
                                <li>Germán Acevedo</li>
                                <li>Javier Bernal</li>
                                <li>Karina Vargas</li>
                                <li>Lautaro Ramírez</li>
                                <li>Marcelo Notario</li>
                                <li>Marcelo Portela</li>
                                <li>Matías Giménez Ortiz</li>
                                <li>Matías Mancuello</li>
                                <li>Matías Rolón</li>
                                <li>Nicolás Maggione</li>
                                <li>Pablo Alarcón</li>
                                <li>Paulo Muchutti</li>
                                <li>Rocío Magalí Escobar</li>
                            </ol>
                            <p><strong>Tutoras:</strong></p>
                            <ul>
                                <li>Gilda Romero</li>
                                <li>Noelia Pinto</li>
                            </ul>
                            <p><strong>Organización:</strong></p>
                            <div>
                                <p><strong>Análisis</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Fernando Lujan</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Alfredo Yaya</li>
                                        <li>Javier Bernal</li>
                                        <li>Marcelo Portela</li>
                                        <li>Rocío Magalí Escobar</li>
                                        <li>Matías Rolón</li>
                                        <li>Pablo Alarcón</li>
                                        <li>Cristopher Mesliuk</li>
                                    </ul>
                                </div>
                                <p><strong>Diseño</strong></p>
                                <div>
                                    <p><strong>Interfaz:</strong></p>
                                    <div>
                                        <p>Front</p>
                                        <div>
                                            <p>Responsable:</p>
                                            <ul>
                                                <li>Agustín Ramírez</li>
                                            </ul>
                                            <p>Colaboradores:</p>
                                            <ul>
                                                <li>Germán Acevedo</li>
                                                <li>Javier Bernal</li>
                                                <li>Karina Vargas</li>
                                                <li>Fernando Luján</li>
                                                <li>Ariel Figueredo</li>
                                            </ul>
                                        </div>
                                        <p>Back</p>
                                        <div>
                                            <p>Responsable:</p>
                                            <ul>
                                                <li>Fernando Luján</li>
                                            </ul>
                                            <p>Colaboradores:</p>
                                            <ul>
                                                <li>Enrique Bakun</li>
                                                <li>Cristopher Mesliuk</li>
                                                <li>Facundo Rada</li>
                                                <li>Paulo Muchutti</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p><strong>Base de Dato</strong></p>
                                    <div>
                                        <p>Responsable:</p>
                                        <ul>
                                            <li>Marcelo Notario</li>
                                        </ul>
                                        <p>Colaboradores:</p>
                                        <ul>
                                            <li>Matías Giménez Ortiz</li>
                                            <li>Alfredo Yaya</li>
                                            <li>Karina Vargas</li>
                                            <li>Fernando Luján</li>
                                            <li>Facundo Rada</li>
                                            <li>Paulo Muchutti</li>
                                            <li>Matías Mancuello</li>
                                        </ul>
                                    </div>
                                </div>
                                <p><strong>Desarrollo</strong></p>
                                <div>
                                    <p><strong>Interfaz:</strong></p>
                                    <div>
                                        <p>Front</p>
                                        <div>
                                            <p>Responsable:</p>
                                            <ul>
                                                <li>Enrique Bakun</li>
                                            </ul>
                                            <p>Colaboradores:</p>
                                            <ul>
                                                <li>Agustín Ramírez</li>
                                                <li>Diego Puente</li>
                                                <li>Pablo Alarcón</li>
                                                <li>Cristopher Mesliuk</li>
                                                <li>Nicolás Maggione</li>
                                                <li>Ariel Figueredo</li>
                                                <li>Paulo Muchutti</li>
                                            </ul>
                                        </div>
                                        <p>Back</p>
                                        <div>
                                            <p>Responsable:</p>
                                            <ul>
                                                <li>Diego Puente</li>
                                            </ul>
                                            <p>Colaboradores:</p>
                                            <ul>
                                                <li>Agustín Ramírez</li>
                                                <li>Enrique Bakun</li>
                                                <li>Cristopher Mesliuk</li>
                                                <li>Facundo Rada</li>
                                                <li>Paulo Muchutti</li>
                                                <li>Pablo Alarcón</li>
                                                <li>Nicolás Maggione</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p><strong>Base de Dato</strong></p>
                                    <div>
                                        <p>Responsable:</p>
                                        <ul>
                                            <li>Marcelo Notario</li>
                                        </ul>
                                        <p>Colaboradores:</p>
                                        <ul>
                                            <li>Matías Giménez Ortiz</li>
                                            <li>Alfredo Yaya</li>
                                            <li>Pablo Alarcón</li>
                                            <li>Fernando Luján</li>
                                            <li>Facundo Rada</li>
                                            <li>Paulo Muchutti</li>
                                            <li>Diego Puente</li>
                                            <li>Nicolas Maggione</li>
                                        </ul>
                                    </div>
                                </div>
                                <p><strong>Testing</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Lautaro Ramírez</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Germán Acevedo</li>
                                        <li>Marcelo Portela</li>
                                        <li>Ariel Figueredo</li>
                                        <li>Paulo Muchutti</li>
                                        <li>Cristopher Mesliuk</li>
                                        <li>Javier Bernal</li>
                                        <li>Karina Vargas</li>
                                        <li>Diego Puente</li>
                                        <li>Enrique Bakun</li>
                                        <li>Matías Mancuello</li>
                                        <li>Pablo Alarcón</li>
                                    </ul>
                                </div>
                                <p><strong>Documentación</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Matias Rolón</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Germán Acevedo</li>
                                        <li>Javier Bernal</li>
                                        <li>Marcelo Portela</li>
                                        <li>Lautaro Ramírez</li>
                                    </ul>
                                </div>
                                <p><strong>Presentación</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Javier Bernal</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Agustín Ramírez</li>
                                        <li>Ariel Figueredo</li>
                                        <li>Fernando Luján</li>
                                        <li>Germán Acevedo</li>
                                        <li>Marcelo Portela</li>
                                        <li>Pablo Alarcón</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="losImplemSubMen">
                            <h4>Etapa 2 - Equipo “Los Implementadores”</h4>
                            <p><strong>Integrantes:</strong></p>
                            <ol>
                                <li>Agustín Ramírez</li>
                                <li>Alfredo Yaya</li>
                                <li>Diego Puente</li>
                                <li>Facundo Rada</li>
                                <li>Fernando Luján</li>
                                <li>Javier Bernal</li>
                                <li>Karina Vargas</li>
                                <li>Lautaro Ramírez</li>
                                <li>Marcelo Notario</li>
                                <li>Matías Giménez Ortiz</li>
                                <li>Matías Mancuello</li>
                                <li>Matías Rolón</li>
                                <li>Rocío Magalí Escobar</li>
                            </ol>
                            <p><strong>Tutores:</strong></p>
                            <ul>
                                <li>Gilda Romero</li>
                                <li>Noelia Pinto</li>
                                <li>Luciano Marcos Escudero</li>
                            </ul>
                            <p>Organización:</p>
                            <div>
                                <p><strong>Análisis</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Rocío Magalí Escobar</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Fernando Luján</li>
                                        <li>Javier Bernal</li>
                                        <li>Matías Rolón</li>
                                    </ul>
                                </div>
                                <p><strong>Back-End (ASP.NET)</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Facundo Rada</li>
                                    </ul>
                                    <p>Colaoradores:</p>
                                    <ul>
                                        <li>Alfredo Yaya</li>
                                        <li>Fernando Luján</li>
                                        <li>Karina Vargas</li>
                                        <li>Lautaro Ramírez</li>
                                        <li>Matías Mancuello</li>
                                    </ul>
                                </div>
                                <p><strong>Front-End (ASP.NET)</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Agustín Ramírez</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Diego Puente</li>
                                        <li>Matías Giménez Ortiz</li>
                                        <li>Matías Rolón</li>
                                        <li>Rocío Magalí Escobar</li>
                                    </ul>
                                </div>
                                <p><strong>DBA</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Matías Giménez Ortiz</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Diego Puente</li>
                                        <li>Facundo Rada</li>
                                        <li>Javier Bernal</li>
                                        <li>Rocío Magalí Escobar</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="maniaSubMen1">
                            <h4>Etapa 3 - Equipo “ManiaTICs”</h4>
                            <p><strong>Integrantes:</strong></p>
                            <ol>
                                <li>Agustín Ramírez</li>
                                <li>Alfredo Yaya</li>
                                <li>Arcángel Artigue</li>
                                <li>Diego Puente</li>
                                <li>Fernando Luján</li>
                                <li>Gilda Romero</li>
                                <li>Josie Feldman</li>
                                <li>Karina Vargas</li>
                                <li>Luciano Escudero</li>
                                <li>Marcelo Notario</li>
                                <li>Matías Rolón</li>
                                <li>Marcelo Cruz</li>
                                <li>Mauricio Allaman</li>
                                <li>Maximiliano Fontana</li>
                                <li>Nicolás Maggione</li>
                                <li>Noelia Pinto</li>
                                <li>Rocío Magalí Escobar</li>
                                <li>Soledad Barrios</li>
                            </ol>
                            <p><strong>Organización:</strong></p>
                            <div>
                                <p><strong>Project Manager: Fernando Luján</strong></p>
                                <br>
                                <p><strong>Análisis</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Rocío Magalí Escobar</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Fernando Luján</li>
                                        <li>Matías Rolón</li>
                                    </ul>
                                </div>
                                <p><strong>Back-End (.Net con Patrón MVC)</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Marcelo Cruz</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Fernando Luján</li>
                                        <li>Soledad Barrios</li>
                                        <li>Marcelo Notario</li>
                                        <li>Karina Vargas</li>
                                    </ul>
                                </div>
                                <p><strong>Front-End (Html, Css, Javascript - NET)</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Agustín Ramírez</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Nicolás Maggione</li>
                                        <li>Karina Vargas</li>
                                        <li>Diego Puente</li>
                                        <li>Alfredo Yaya</li>
                                    </ul>
                                </div>
                                <p><strong>DBA</strong></p>
                                <div>   
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Marcelo Notario</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Noelia Pinto</li>
                                        <li>Nicolás Maggione</li>
                                    </ul>
                                </div>
                                <p><strong>Inglés</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Gilda Romero</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Allaman, Mauricio (Entre B2 y C1 Effective Operational Proficiency)</li>
                                        <li>Artigue, Arcángel (Entre B2 y C1 Effective Operational Proficiency)</li>
                                        <li>Feldman, Josie (C2 Mastery)</li>
                                        <li>Fontana, Maximiliano  (Entre B1 Threshold y B2 Vantage)</li>
                                    </ul>
                                </div>
                                <p><strong>Testing</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Luciano Escudero</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Alfredo Yaya</li>
                                        <li>Magalí Escobar</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="maniaSubMen2">
                            <h4>Etapa 4 - Equipo “ManiaTICs”</h4>
                            <p><strong>Integrantes:</strong></p>
                            <ol>
                                <li>Agustín Ramírez</li>
                                <li>Alfredo Yaya</li>
                                <li>Fernando Luján</li>
                                <li>Gilda Romero</li>
                                <li>Gilda Romero</li>
                                <li>Matías Rolón</li>
                                <li>Nicolás Maggione</li>
                                <li>Noelia Pinto</li>
                                <li>Soledad Barrios</li>
                            </ol>
                            <p><strong>Organización:</strong></p>
                            <div>
                                <p><strong>Project Manager: Fernando Luján</strong></p>
                                <br>
                                <p><strong>Análisis</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Matías Rolón</li>
                                    </ul>
                                    <p>Coloborador:</p>
                                    <ul>
                                        <li>Fernando Luján</li>
                                    </ul>
                                </div>
                                <p><strong>Back-End (.Net con Patrón MVC)</strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Fernando Luján</li>
                                    </ul>
                                    <p>Colaborador:</p>
                                    <ul>
                                        <li>Soledad Barrios</li>
                                    </ul>
                                </div>
                                <p><strong>Front-End (Html, Css, Javascript - NET) </strong></p>
                                <div>
                                    <p>Responsable:</p>
                                    <ul>
                                        <li>Agustín Ramírez</li>
                                    </ul>
                                    <p>Colaboradores:</p>
                                    <ul>
                                        <li>Nicolás Maggione</li>
                                        <li>Alfredo Yaya</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--FIN ESTO AGREGUE-->				
			</div>
		</div>
	</div>
</div>

@section Head{
    <link rel="stylesheet" type="text/css" href="~/Content/desarrolladores.css">
    <script type="text/javascript" src="~/Scripts/desarrolladores.js"></script>
}
