@{
    ViewBag.Title = "PoloITChaco";
}

@section DPerfil{
    @Html.Partial("_DPerfil")
}

		<div class="col-sm-9 content">
			<div id="contact-icons" class="col-sm-5">
				<div>
					<div class="polo-title">
						<h1>@Resources.PoloITChacoSection_LeftColumn</h1>
					</div>
                    <div class="clear20"></div>
                    <div>
                    <a href="http://www.facebook.com/poloitchaco" class="logo-polo"></a>
                    </div>
				</div>
				<div class="col-sm-1 pull-right">
					<a href="mailto:contacto@polochaco.com.ar" class="email-icon"></a>
					<a href="http://www.facebook.com/poloitchaco" target="_blank" class="facebook-icon"></a>
					<a href="http://www.twitter.com/poloitchaco" target="_blank" class="twitter-icon"></a>
									
				</div>
			</div>
			<div class="col-sm-6 margin-content">
				<ul id="tabs-info-menu" class="nav nav-tabs">
					<li class="active">
						<a href="#que-es" data-toggle="tab">@Resources.PoloITChacoSection_AboutLabel</a>
					</li>
					<li>
						<a href="#vision" data-toggle="tab">@Resources.PoloITChacoSection_VisionLabel</a>
					</li>
					<li>
						<a href="#participar" data-toggle="tab">@Resources.PoloITChacoSection_ParticipateLabel</a>
					</li>
					<li>
						<a href="#contactos" data-toggle="tab">@Resources.PoloITChacoSection_ContactUsLabel</a>
					</li>
				</ul>
				<div id="tabs-info-content" class="tab-content">
					<div id="que-es" class="tab-pane fade in active">
										
						<h3>@Resources.PoloITChacoSection_AboutContent</h3>
						<p>

							</p><p>
								@Resources.PoloITChacoSection_AboutContent2
							</p>
							<p>
								@Resources.PoloITChacoSection_AboutContent3
							</p>
							<p>
								@Resources.PoloITChacoSection_AboutContent4
							</p>

						<p></p>
					</div>
					<div id="vision" class="tab-pane fade">
						<p>
							@Resources.PoloITChacoSection_VisionContent
						</p>
						<p>
							@Resources.PoloITChacoSection_VisionContent2
							<br>
							@Resources.PoloITChacoSection_VisionContent3
						</p>	
					</div>
					<div id="participar" class="tab-pane fade">
						<p>
						Para participar: contacto@polochaco.com.ar
						</p>
					</div>
					<div id="contactos" class="tab-pane fade">
						<p>
							</p><ul id="contactos-polo">
								<li><b>Mail:</b> contacto@polochaco.com.ar </li>
								<li><b>Facebook:</b> PoloITChaco </li>
								<li><b>Twitter:</b> PoloITChaco </li>
							</ul>
						<p></p>
					</div>
				</div>
			</div>
		</div>
					
    </div>