@model NeaTICs_v2.Models.New

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Está seguro de borrar la noticia?</h3>
<fieldset>
    <legend>Noticia</legend>

    <div class="col-xs-8 col-md-offset-1">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Title)</dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>
            <dt>@Html.DisplayNameFor(model => model.Content)</dt>
            <dd>@Html.DisplayFor(model => model.Content)</dd>
            <dt>@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd>@Html.DisplayFor(model => model.CreatedAt)</dd>
            <dt>@Html.DisplayNameFor(model => model.UpdatedAt)</dt>   
            <dd>@Html.DisplayFor(model => model.UpdatedAt)</dd>
            <dt>@Html.DisplayNameFor(model => model.Url)</dt>
            <dd>@Html.DisplayFor(model => model.Url)</dd>    
            <dt><br /></dt>
            <dd><br /></dd>
            <dd>
                <div class="display-field">
                    @Html.Raw("<img src=" + Model.ImageUrl + " style='width: 300px;'/>");
                </div>
            </dd>
        </dl>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
    <div class="form-group">
         <div class="col-sm-2">
             @Html.ActionLink("Volver al Listado", "Index")
         </div>
         
         <div class="col-sm-offset-2 col-sm-8">
            <input type="submit" value="Borrar" class="btn btn-default" />
         </div>
    </div>
}
