@model IEnumerable<NeaTICs_v2.Models.New>

@{
    ViewBag.Title = "Lista de Noticias";
}

<h2>Lista de Noticias</h2>

<p>
    @Html.ActionLink("Nueva Noticia", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.Raw("<img src=" + item.ImageUrl + " style='width: 100px;'/>")
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }, null) |
                @Html.ActionLink("Detalles", "Details", "New", new { id = item.ID }, null) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>
